.social-bar
    padding $rem(40) 0
    // border-bottom 2px solid $laranja
    +mobile()
        padding 25px 0
    .center
        display flex
        align-items center
        justify-content center
        .absolut_soprema
            display: flex
            flex-direction: column
            align-items: flex-end
            margin-top: 15px
        p
            exo 32 thin
            color $azul
            text-transform uppercase
            margin 0
            margin-right $rem(40)
            line-height 1.2
            margin-top: -20px
            +below($tablet)
                font-size 28px
            +mobile()
                display none
        .pers
            color: $laranja
            exo 32
            margin: 0
            padding-right: 42px

.social_footer
    display: flex
    justify-content: center
    a
        display block
        width $rem(60)
        height $rem(60)
        flex-shrink 0
        +below($tablet)
            width 40px
            height 40px
        .img_socials
            width 100%
            height 100%
            background-size: contain
            background-image: $img('redessociais-facebook.svg')
            &:hover
                background-image: $img('redessociais-facebook-hover.svg')
        .img_socials2
            width 100%
            height 100%
            background-size: contain
            background-image: $img('redessociais-instagram.svg')
            &:hover
                background-image: $img('redessociais-instagram-hover.svg')
        .img_socials3
            width 100%
            height 100%
            background-size: contain
            background-image: $img('redessociais-youtube.svg')
            &:hover
                background-image: $img('redessociais-youtube-hover.svg')
        .img_socials4
            width 100%
            height 100%
            background-size: contain
            background-image: $img('redessociais-linkedin.svg')
            &:hover
                background-image: $img('redessociais-linkedin-hover.svg')
        + a
            margin-left $rem(25)

footer
    background $cinzaBg
    padding $rem(45) 0 $rem(30)
    +mobile()
        padding 25px 0 20px
    .center
        display flex
        align-items flex-start
        justify-content center
        +below(920px)
            flex-direction column
    .left
        width 250px
        margin-right 120px
        +mobile()
            width 100%
            margin-right 0
        img
            max-width 100%
            margin-bottom $rem(28)
        .endereco
            margin-bottom $rem(28)
            color $cinza
            h4
                opensans 11 bold
                margin 0
            h3
                opensans 16 bold
                margin 4px 0
            p
                opensans 14
                margin 0
        a
            display inline-block
            padding 10px 25px
            border 1px solid $cinza
            opensans 10 bold
            color $cinza
            transition .3s
            text-transform uppercase
            &:hover
                background $azul
                color #fff
    .right
        max-width 840px
        +mobile()
            width 100%
        .links
            display flex
            padding-bottom $rem(30)
            margin-bottom $rem(30)
            border-bottom 1px solid $cinza
            +below(1200px)
                display none
            .col
                + .col
                    margin-left $rem(40)
                a
                    display block
                    opensans 16 bold
                    color $cinza
                    text-transform uppercase
                    &:hover
                        color $azul
                    &.sub
                        font-size $rem(14)
                        font-weight normal
                        text-transform none
                    + a
                        margin-top $rem(25)
                        &.sub
                            margin-top $rem(6)
                    &:not(.sub) + a.sub
                        margin-top $rem(8)
        .selos
            padding 0 0 $rem(30)
            border-bottom 1px solid $cinza
            display flex
            align-items center
            +below(1200px)
                flex-wrap wrap
                .politica-termos
                    width 100%
                    margin-bottom $rem(30)
            +below(920px)
                margin-top $rem(30)
            +below(490px)
                flex-direction column
                align-items flex-start
                .selo + .selo
                    margin-top $rem(20)
            .politica-termos
                margin-right auto
                a
                    opensans 14
                    color $cinza
                    display block
                    white-space nowrap
                    &:hover
                        color $azul
                    + a
                        margin-top $rem(6)
            .selo
                display flex
                flex-direction column
                align-items center
                span
                    opensans 9
                    font-size 9px
                    margin-bottom 1em
                    color $cinza
                + .selo
                    margin-left $rem(25)
        .copyright
            padding 10px 0
            text-align right
            p
                opensans 9
                font-size 9px
                color $cinza
                margin 0
                a:hover
                    color $azul
            +mobile()
                text-align left
                span
                    display block
                    font-size 0

.divisor_hr
    width: 100%
    height: 2px
    display: flex
    .divisor1_hr
        width: 50%
        background-color: $azul
    .divisor2_hr
        width: 50%
        background-color: $laranja
