header
    background #000
    color #fff
    padding 0 24px
    display flex
    justify-content flex-end
    align-items center
    p
        opensans 14
        margin 0
        span
            display inline-block
            margin 0 6px
    a
        padding 10px
        opensans 12 bold
        text-transform uppercase
        margin-left $rem(100)
        margin-right $rem(10)
        transition background .3s, color .3s
        &:hover
        &.active
            background $laranja
            color #fff
    .lang-dropdown
        position relative
        &:after
            content ''
            position absolute
            top 8px
            right 6px
            width 6px
            height 6px
            border-top 2px solid #fff
            border-right 2px solid #fff
            transform rotate(135deg)
            pointer-events none
        select
            appearance none
            background transparent
            height 25px
            cursor pointer
            opensans 12 bold
            border 0
            outline 0
            color #fff
            background #000
            padding 0 16px 0 6px
            position relative
    +mobile()
        padding 8px 24px
        flex-wrap wrap
        p
            width 100%
            text-align right
            font-size 12px
            margin-bottom 8px
            span
                display block
                font-size 0
        a
            margin-left 0
    +below(495px)
        padding 8px 5%

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        opensans(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 12px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        opensans(14)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid $laranja
            background-color $laranja
        +below($tablet)
            font-size 12px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px