.nav-mobile
    background $azul
    +above($tablet)
        display none
    > .center
        display flex
        justify-content space-between
        padding-top 30px
        padding-bottom 30px
    .logo
        width 200px
        +mobile()
            width 180px
        img
            display block
            max-width 100%
    #mobile-toggle
        margin-left auto
        background-color transparent
        border 0
        position relative
        width 28px
        align-self stretch
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        display none
        text-align right
        padding-bottom 30px
        .links
            width 100%
            a
                display block
                exo 16 bold
                color #fff
                text-transform uppercase
                &:hover
                &.active
                    color #000
                + a
                    margin-top 5px
        .busca
            display inline-flex
            align-items center
            margin 30px 0
            exo 16
            color #fff
            svg
                margin-right 6px
                .fil0
                    fill #fff
                    transition fill .3s
            &:hover
                color #000
                svg .fil0
                    fill #000
        .social
            display flex
            justify-content flex-end
            a
                display block
                width 30px
                height 30px
                border-radius 100%
                transition background .3s
                svg
                    width 100%
                    height 100%
                    .fil0
                        fill #fff
                        fill-rule unset
                        transition fill .3s
                &:hover
                    background #fff
                    &.facebook svg .fil0
                        fill #3b5999
                    &.instagram svg .fil0
                        fill #e4405f
                    &.youtube svg .fil0
                        fill #cd201f
                    &.linkedin svg .fil0
                        fill #0077B5
                + a
                    margin-left 5px
