body > .wrapper
    display flex
    width 100%
    border-bottom 1px solid $cinzaBg
    > nav
        flex-shrink 0
        width 320px
        min-height 640px
        background $azul
        padding 55px 0 0 30px
        position relative
        z-index 102
        a.logo
            .img-logo
                width 240px
        .links
            margin-top 50px
            > a
            .nav-produtos-wrapper > span
                display block
                exo 16 bold
                color #fff
                text-transform uppercase
                line-height 2.2
                &:hover
                &.active
                    color #000
            .nav-produtos-wrapper
                > span
                    cursor default
                    position relative
                    transition color .3s
                    &:after
                        content ''
                        position absolute
                        width 0
                        height 1px
                        left 100px
                        top 50%
                        background #000
                        transition .2s
                &:hover
                    > span
                        color #000
                        &:after
                            width calc('100% - 100px')
                    .nav-produtos-sub-1
                        opacity 1
                        visibility visible
                        transform translateX(0)
            .nav-produtos-aplicacoes
                > span
                    cursor default
                    position relative
                    transition color .3s
                    flex 1
                    &:after
                        content ''
                        position absolute
                        width 0
                        height 1px
                        left calc('100% + 10px')
                        top 50%
                        background rgba($cinza, .55)
                        transition .2s
                &:hover
                    > span
                        color $cinza
                        &:after
                            width 30px
                    .nav-produtos-sub-2
                        opacity 1
                        visibility visible
                        transform translateX(0)
            .nav-produtos-sub-1
            .nav-produtos-sub-2
                opacity 0
                visibility hidden
                position absolute
                left 320px
                top 0
                width 300px
                height 100%
                background #F8F8F8
                transition .2s ease-out
                transform translateX(20px)
            .nav-produtos-sub-1
                padding 55px 0
                a
                > div
                    display flex
                    align-items center
                    width 100%
                    padding 0 40px 0 20px
                    + *
                        margin-top 32px
                    svg
                        flex-shrink 0
                        margin-right 40px
                        path
                            fill $azul !important
                            transition .3s
                    span
                        exo 16
                        text-transform uppercase
                        color $azul
                        transition .3s
                        line-height 1.4
                    &:hover
                    &.active
                        svg path
                            fill $laranja !important
                        span
                            color $laranja
            .nav-produtos-sub-2
                left 300px
                background #EAEEEE
                z-index 2
                padding 115px 20px 40px
                a
                    display block
                    exo 16
                    color $cinza
                    &.active
                        font-weight bold
                    &:hover
                    &.active
                        color $azul
                    + a
                        margin-top .8em
        .busca
            display inline-flex
            align-items center
            margin 30px 0
            exo 16
            color #fff
            border: 1px solid #fff;
            width: 240px;
            height: 40px;
            padding-left: 15px;
            svg
                margin-right 6px
                .fil0
                    fill #fff
                    transition fill .3s
            &:hover
                color #fff
                background-color: $laranja
                svg .fil0
                    fill #fff
        .social
            display flex
            a
                display block
                width 30px
                height 30px
                border-radius 100%
                transition background .3s
                img
                    width 100%
                    height 100%
                svg
                    width 100%
                    height 100%
                .img_socials
                    width 100%
                    height 100%
                    background-size: contain
                    background-image: $img('redessociais-facebook.svg')
                    &:hover
                        background-image: $img('redessociais-facebook-hover.svg')
                .img_socials2
                    width 100%
                    height 100%
                    background-size: contain
                    background-image: $img('redessociais-instagram.svg')
                    &:hover
                        background-image: $img('redessociais-instagram-hover.svg')
                .img_socials3
                    width 100%
                    height 100%
                    background-size: contain
                    background-image: $img('redessociais-youtube.svg')
                    &:hover
                        background-image: $img('redessociais-youtube-hover.svg')
                .img_socials4
                    width 100%
                    height 100%
                    background-size: contain
                    background-image: $img('redessociais-linkedin.svg')
                    &:hover
                        background-image: $img('redessociais-linkedin-hover.svg')
                    // .fil0
                    //     fill #fff
                    //     fill-rule unset
                    //     transition fill .3s
                // &:hover
                //     background #fff
                //     &.facebook svg .fil0
                //         fill #3b5999
                //     &.instagram svg .fil0
                //         fill #e4405f
                //     &.youtube svg .fil0
                //         fill #cd201f
                //     &.linkedin svg .fil0
                //         fill #0077B5
                + a
                    margin-left 10px
    > main
        width 100%
        padding 0 $rem(60)
        position relative
        +below($tablet)
            padding 0 5%
        .center
            width 100% !important
    +below($tablet)
        display block
        > nav
            display none

.resizer
    height: 55px
    display: flex
    justify-content: center
    align-items: flex-end
    margin-left: -35px
    margin-bottom: 10px
    .denver_novo_logo
        width: 130px

.main-title
    color: $azul