.restrito-auth
    &.restrito-login
        max-width $rem(580)
        margin 0 auto
    &.restrito-register
        max-width $rem(1180)
        margin 0 auto
    .restrito-register-wrapper
        display grid
        grid-template-columns 1fr 1fr
        grid-template-rows auto auto 1fr
        grid-gap 20px
        align-items start
        .box
            &:first-child
                grid-row 1 / 4
            &:last-child
                height 100%
        +between($tablet, 1550px)
            grid-template-columns 1fr
        +mobile()
            grid-template-columns 1fr
    .btn-esqueci
        display block
        clear both
        text-align right
        exo 12
        color $cinza
        font-style italic
        margin-top 2.5em
        &:hover
            color $laranja
    .restrito-curriculo-wrapper
        display grid
        grid-gap 12px
        max-width 580px
    .file-input
        width 100%
        display block
        position relative
        outline none
        background #fff
        color $cinza
        height 40px
        cursor pointer
        input[type='file']
            opacity 0
            top 0
            left 0
            width 100%
            height 100%
            position absolute
            z-index -1
        span
            exo 18
            color $cinza
            padding 0 20px
            padding-left 50px
            display block
            line-height 40px
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            background $img('ico-anexarcurriculo.svg') no-repeat center left 16px
            background-size 20px auto
    .opt-in
        display flex
        align-items baseline
        margin-top 15px
        exo 16
        color $cinza
        cursor pointer
        input
            width auto
            height auto
            flex-shrink 0
            margin-right 10px
