.restrito .campanhas
    .campanhas-grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(380px, 1fr))
        grid-gap 30px
        +tablet()
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        +mobile()
            grid-template-columns 1fr
            grid-gap 20px
        a
            background #EAEEEE
            display flex
            align-items center
            color $cinza
            transition background .3s, color .3s
            img
                flex-shrink 0
            span
                exo 20
                padding 1em
            &:hover
                color #fff
                background $laranja
            +mobile()
                img
                    width 100px
                span
                    font-size 16px
