.restrito .comunicados
    .comunicados-grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(380px, 1fr))
        grid-gap 30px
        +tablet()
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        +mobile()
            grid-template-columns 1fr
            grid-gap 20px
        a
            background #EAEEEE
            display flex
            align-items center
            color $cinza
            transition background .3s
            img
                width 140px
                height 180px
                flex-shrink 0
                display block
            > div
                padding 1em
            span
                display block
                exo 18
                transition color .3s
                &.data
                    exo 14 bold
                    color $laranja
                    margin-bottom .5em
            &:hover
                color #fff
                background $laranja
                span
                    color inherit
                    &.data
                        color inherit
            +mobile()
                img
                    width 100px
                    height 130px
                span
                    font-size 16px
