.restrito .tabelas
    .tabelas-grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(380px, 1fr))
        grid-gap 30px
        +tablet()
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        +mobile()
            grid-template-columns 1fr
            grid-gap 20px
        a
            color $cinza
            padding $rem(28) $rem(20) $rem(40) $rem(85)
            transition background .3s, color .3s
            exo 20
            color $cinza
            background $img('ico-PDF.svg') no-repeat 20px 20px #EAEEEE
            span
                display block
                exo 16 bold
                color $laranja
                margin-bottom .75em
                transition color .3s
            &:hover
                background-color #73888D
                color #fff
                span
                    color #fff
