.restrito-template
    display grid
    grid-template-columns 150px 1fr
    grid-gap $rem(100)
    align-items start
    main
        max-width 1580px
    nav
        width 100%
        display grid
        grid-auto-flow row
        grid-gap 5px
        a
            display block
            padding $rem(16)
            background #EAEEEE
            text-align center
            exo 16 bold
            color $cinza
            transition background .3s, color .3s
            text-transform uppercase
            &:hover
            &.active
                background $laranja
                color #fff
    +below(1080px)
        display block
        nav
            margin-bottom $rem(30)
            grid-template-columns repeat(3, 1fr)
            a
                display flex
                align-items center
                justify-content center
                font-size 14px
                &:last-child
                    grid-column 1 / -1
    +below(600px)
        nav
            grid-template-columns repeat(2, 1fr)

.restrito
    @extends $defaultPadding
    h2
        exo 48 thin
        color $laranja
        text-transform uppercase
        margin 0 0 .7em
        span
            display block
            font-size $rem(22)
        +below($tablet)
            font-size $rem(40)
            span
                font-size $rem(16)
    .title
        h2 div
            display flex
            align-items center
            +mobile()
                flex-direction column
                align-items flex-start
        .btn-logout
            display inline-flex
            align-items center
            exo 16 bold
            background $laranja
            color #fff
            margin-left 1.5em
            padding .5em 1.4em
            transition background .3s
            +mobile()
                margin .5em 0 0
            &:hover
                background lighten($laranja, 5)
            i
                width 14px
                height 14px
                background #B53629
                border-radius 50%
                margin-left 8px
                position relative
                &:before
                &:after
                    content ''
                    position absolute
                    width 2px
                    height 8px
                    background #fff
                    top 50%
                    left 50%
                    transform-origin left top
                &:before
                    transform rotate(45deg) translate(-50%, -50%)
                &:after
                    transform rotate(-45deg) translate(-50%, -50%)
    .box
        background #EAEEEE
        padding $rem(40)
        +mobile()
            padding 20px
    form
        .row
            display flex
            +below(1400px)
                flex-direction column
                * + *
                    margin 6px 0 0
            + .row
                margin-top 6px
        .flash
            display block
            padding 1.5em
            exo 14
            text-transform uppercase
            color #fff
            margin-bottom 1em
            line-height 1.5
            &.flash-error
                background #e74c3c
            &.flash-success
                background #18bc9c
        input[type=text]
        input[type=email]
        input[type=password]
            width 100%
            display block
            background #fff
            padding 0 1em
            height 40px
            border 0
            outline 0
            exo 18
            color $cinza
            &:disabled
                opacity .7
        input[type=submit]
            display inline-block
            margin-left auto
            background $laranja
            exo 18 bold
            color #fff
            padding .8em 3em
            outline 0
            border 0
            cursor pointer
            transition background .3s
            &:hover
                background lighten($laranja, 5)
            +mobile()
                padding .8em 1.6em
        .checkbox
            display flex
            align-items center
            background #fff
            padding 12px 18px
            position relative
            exo 18
            color $cinza
            text-transform uppercase
            cursor pointer
            &-disabled
                background #F5F7F7
                cursor default
            input
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                cursor pointer
                opacity 0
                visibility hidden
            span
                width 24px
                height 24px
                border 2px solid #C7D0D1
                border-radius 50%
                margin-right 12px
                flex-shrink 0
            input:checked + span
                border none
                background $img('ico-check.svg') no-repeat center
            + .checkbox
                margin-top 6px
        +above(1400px)
            input[name=uf]
                width 60px
                margin-left 6px
            input[name=complemento]
                margin-left 6px
