.restrito .videos
    .videos-grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(380px, 1fr))
        grid-gap 20px 10px
        +tablet()
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        +mobile()
            grid-template-columns 1fr
            grid-gap 20px
        > div
            padding 10px
            transition background .3s
            &:hover
                background #EAEEEE
        a
            display block
            &:hover
                span
                    color $laranja
        .imagem
            width 100%
            position relative
            img
                width 100%
                display block
            &:after
                content ''
                position absolute
                width 32px
                height 32px
                top 50%
                left 50%
                transform translate(-50%, -50%)
                background $img('ico-play.svg') no-repeat center
                z-index 2
        span
            exo 20
            color $cinza
            display block
            margin 8px 0 0
            transition color .3s
    .download-link
        display block
        exo 12 bold
        color $laranja
        font-style italic
        text-transform uppercase
        margin 1em 0 0
        padding-left 22px
        background $img('ico-download.svg') no-repeat left center
        min-height 16px
    .video-show
        max-width $rem(900)
        .video
            width 100%
            height 0
            padding-bottom 56.25%
            position relative
            iframe
                display block
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                border 0
        h1
            exo 32
            color $cinza
            margin .5em 0 0
            +mobile()
                font-size 24px
        .voltar
            display inline-block
            exo 18 light
            color $laranja
            text-transform uppercase
            padding 1em 2.8em
            transition background .3s, color .3s
            border 1px solid $laranja
            margin-top 3em
            &:hover
                background $laranja
                color #fff
