.center
    width 100%
    max-width desktop-base-width
    position relative
    margin 0 auto
    +below(1540px)
        width 90%

$defaultPadding
    padding $rem(40) 0 $rem(140)
    +below($tablet)
        padding $rem(30) 0 $rem(40)

.main-title
    exo 48 light
    color $laranja
    margin 0 0 .8em
    text-transform uppercase
    +below($tablet)
        font-size $rem(40)

.pagination
    display block
    width 100%
    margin $rem(80) 0 0
    border-top 1px solid $laranja
    padding 0
    padding-top $rem(25)
    list-style none
    text-align center
    +mobile()
        margin-top $rem(40)
    li
        display inline-block
        exo 16
        color $cinza
        margin 0 .3em
        &.active
            exo 16 bold
            color $laranja

.categorias
    a
        display block
        exo 18 bold
        color $laranja
        padding-left 1.5em
        text-transform uppercase
        background $img('setinha-light-horizontal.svg') no-repeat left center
        &:hover
        &.active
            color $cinza
        + a
            margin-top 1em
