.fancybox-overlay
    background rgba(#000, .8)

.fancybox-opened .fancybox-skin
    box-shadow none

.fancybox-close
    right 0
    top -42px
    background none
    &:before
    &:after
        content ''
        position absolute
        top 50%
        left 50%
        width 20px
        height 1px
        background #fff
    &:before
        transform translate(-50%, -50%) rotate(45deg)
    &:after
        transform translate(-50%, -50%) rotate(-45deg)

.fancybox-skin
    border-radius 0

.fancybox-wrap.fancybox-type-ajax
    +below($tablet)
        width 90% !important
        .fancybox-inner
            width 100% !important
