desktop-base-width     = 1460px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja = #ED6B06
$cinza   = #4D4D4D
// $cinzaBg = #B9C4C6
$cinzaBg = #E6EAEB
$azul    = #0086C5

@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400,700|Open+Sans:400,700&display=swap')

opensans($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

exo($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
    if $weight == light
        font-weight 300
    if $weight == thin
        font-weight 200
