.busca-modal
    display none
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    background rgba(#000, .85)
    z-index 9999
    cursor pointer
    padding $rem(130) 5%
    +mobile()
        padding-top 100px
    form
        width 100%
        max-width $rem(900)
        margin 0 auto
        position relative
        input[type=text]
            width 100%
            height 70px
            exo 20
            color $cinza
            font-style italic
            text-transform uppercase
            padding 0 80px 0 30px
            outline 0
            +mobile()
                font-size 16px
                padding 0 80px 0 20px
        button
            position absolute
            width 80px
            height 100%
            right 0
            top 0
            z-index 2
            cursor pointer
            background $img('lupa-busca-cinza.svg') no-repeat center
            background-size 30px
            border 0
            outline 0
            padding 0

.busca-resultados
    @extends $defaultPadding
    h1.main-title
        color: $azul!important
    .nenhum
        display inline-block
        border 1px solid $laranja
        padding $rem(20)
        exo 14
        color $azul
        text-transform uppercase
    .area
        border-bottom 1px solid $laranja
        padding-bottom $rem(30)
        + .area
            margin-top $rem(30)
        h2
            exo 24
            color $azul
            margin 0 0 .6em
            text-transform uppercase
        a
            position relative
            display block
            exo 18
            color $cinza
            padding-left 1em
            + a
                margin-top .4em
            &:hover
                color $azul
            &:before
                content '\00b7'
                position absolute
                left 0
