.conteudo-tecnico .calendario-de-eventos
    .container
        display grid
        grid-template-columns repeat(auto-fill, minmax(500px, 1fr))
        grid-gap $rem(65)
        +mobile()
            grid-template-columns 1fr
            grid-gap 40px
    h3
        exo 22 bold
        color $cinza
        margin 0 0 1em
        text-transform uppercase
    .eventos a
        display flex
        transition background .3s
        padding 10px
        align-items flex-start
        + a
            margin-top 5px
        img
            border 1px solid $cinza
            width 200px
            flex-shrink 0
            +mobile()
                max-width 80px
        div
            padding $rem(24)
            +mobile()
                padding 0 12px
            h4
                exo 22 bold
                color $laranja
                margin 0
            p
                exo 18
                color $cinza
                margin 0
                transition color .3s
        &:hover
            background #EAEEEE
            div p
                color $laranja
    .treinamentos
        background #EAEEEE
        padding $rem(36)
        +mobile()
            padding 20px
        a
            display flex
            padding $rem(32) $rem(20)
            border-top 1px solid #fff
            transition background .3s
            color $laranja
            align-items flex-start
            .data
                flex-shrink 0
                display flex
                align-items center
                color inherit
                text-transform uppercase
                border-right 1px solid $laranja
                margin-right $rem(24)
                padding-right $rem(24)
                transition color .3s, border .3s
                > span
                    exo 56 bold
                    margin-right 10px
                    line-height 1
                div
                    span
                        display block
                        &:first-child
                            exo 24
                        &:last-child
                            exo 18
                +mobile()
                    margin-right 15px
                    padding-right 15px
                    > span
                        font-size 28px
                        margin-right 6px
                    div
                        span
                            &:first-child
                                font-size 16px
                            &:last-child
                                font-size 13px
            p
                exo 22
                color $cinza
                margin 0
                transition color .3s
                +mobile()
                    font-size 16px
            &:hover
                background $laranja
                color #fff
                .data
                    border-color #fff
                p
                    color #fff
    .descricao
        exo 18
        color $cinza
        p
            margin 0
            + p
                margin-top 1em
    .contato-info
        border-top 1px solid $laranja
        margin-top $rem(50)
        padding-top $rem(30)
        h4
            exo 18
            color $laranja
            text-transform uppercase
            margin 0 0 1em
        p
        a
            display block
            exo 18
            color $laranja
            margin 0
            padding-left 50px
            min-height 24px
            + *
                margin-top .5em
            &.telefone
                background $img('ico-eventos-contato-telefone.svg') no-repeat left center
            &.site
                background $img('ico-eventos-contato-website.svg') no-repeat left center
        a:hover
            color $cinza
    #form-interesse
        border-top 1px solid $laranja
        margin-top $rem(50)
        padding $rem(30)
        background #EAEEEE
        h4
            exo 18
            color $laranja
            text-transform uppercase
            margin 0 0 1em
        div
            clearfix()
        input
            display block
            width 100%
            background #fff
            outline 0
            border 0
            height 40px
            exo 18
            color $cinza
            padding 0 1em
            + *
                margin-top 5px
        button
            display inline-flex
            align-items center
            justify-content center
            float right
            width 100%
            max-width 250px
            background $laranja
            height 50px
            exo 18 bold
            color #fff
            border 0
            outline 0
            cursor pointer
            transition background .3s
            text-transform uppercase
            &:hover
                background lighten($laranja, 5)
            svg
                margin-left 10px
                .fil0
                    fill #fff !important
    .evento
        .wrapper
            display grid
            grid-template-columns 300px 1fr
            grid-gap $rem(40)
            max-width 1050px
            +below(1460px)
                grid-template-columns 200px 1fr
            +mobile()
                grid-template-columns 1fr
                grid-gap 20px
            img
                max-width 100%
                border 1px solid $cinza
            .evento-content
                > h4
                    exo 32 bold
                    color $laranja
                    margin 0
                > h5
                    exo 24 bold
                    color $cinza
                    margin .5em 0 1.5em
    .treinamento
        .wrapper
            display grid
            grid-template-columns 300px 1fr
            background #EAEEEE
            max-width 1050px
            +below(1460px)
                grid-template-columns 200px 1fr
            +mobile()
                grid-template-columns 1fr
        .data
            display flex
            align-items center
            justify-content center
            text-transform uppercase
            background $laranja
            color #fff
            padding $rem(40) 0
            +below(1460px)
                padding 20px 0
            > span
                exo 112 bold
                margin-right 10px
                line-height 1
                +below(1460px)
                    font-size 56px
            div
                span
                    display block
                    &:first-child
                        exo 48
                        +below(1460px)
                            font-size 24px
                    &:last-child
                        exo 36
                        +below(1460px)
                            font-size 18px
        h2
            border-bottom 1px solid $laranja
            margin 0
            margin-right $rem(40)
            padding $rem(40)
            display flex
            align-items center
            exo 42
            color $cinza
            +below(1460px)
                font-size 36px
            +mobile()
                font-size 26px
                margin-right 0
        .treinamento-content
            grid-column 2 / 3
            padding $rem(40)
            #form-interesse
                padding-left 0
                padding-right 0
                padding-bottom 0
            +mobile()
                grid-column 1 / -1
                padding 20px
