.conteudo-tecnico .consultor-virtual
    max-width 1080px
    .selecao
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 10px
        +between($tablet, 1480px)
            grid-template-columns 1fr
        +mobile()
            grid-template-columns 1fr
        a
            display flex
            flex-direction column
            justify-content flex-end
            align-items center
            padding 60px 20px 30px
            text-align center
            background $img('setinha-light-cinza.svg') no-repeat center top 20px
            transition background .3s
            h2
                margin 0 0 .5em
                exo 42
                color $cinza
                span
                    display block
                    font-size $rem(24)
            img
                display block
                width 100%
                margin-bottom $rem(-30)
            .btn
                position relative
                z-index 2
                display flex
                align-items center
                background $cinza
                padding $rem(20) $rem(32)
                exo 14 light
                color #fff
                text-transform uppercase
                transition background .3s
                span
                    display block
                    width 13px
                    height 13px
                    background $img('setinha-light-horizontal-white.svg') no-repeat center
                    margin-left 10px
            &:hover
                background-color #EAEEEE
                .btn
                    background $laranja
    .consultoria
        display grid
        grid-template-columns 1fr 1fr
        grid-gap $rem(50)
        +between($tablet, 1460px)
            grid-template-columns 1fr
            img
                order 1
        +mobile()
            grid-template-columns 1fr
            img
                order 1
        img
            max-width 100%
        > div
            padding-top 60px
            background $img('setinha-light-cinza.svg') no-repeat center top 20px
            transition background .3s
            h2
                margin 0 0 .5em
                exo 42
                color $cinza
                text-align center
                span
                    display block
                    font-size $rem(24)
        select
            width 100%
            display block
            appearance none
            height 60px
            padding 0 36px 0 18px
            border 0
            outline 0
            exo 22 light
            color $cinza
            cursor pointer
            background $img('setinha-combobox-cinza.svg') no-repeat center right 16px #EAEEEE
        .options
            span
            a
                display block
                padding 17px 18px
                background #EAEEEE
                exo 22 light
                color $cinza
                margin-top 10px
            a
                padding-left 56px
                position relative
                transition background .3s
                &:before
                    content ''
                    position absolute
                    left 16px
                    top 50%
                    width 22px
                    height 22px
                    background #fff
                    border 3px solid #73888D
                    transform translateY(-50%)
                    border-radius 50%
                &:after
                    content ''
                    position absolute
                    left 22px
                    top 50%
                    width 10px
                    height 10px
                    background #73888D
                    transform translateY(-50%)
                    border-radius 50%
                    opacity 0
                &:hover
                    background darken(#EAEEEE, 4)
                &.active:after
                    opacity 1
        .indicado
            background #EAEEEE
            margin-top 10px
            padding 0 18px 18px
            text-align center
            > span
                display inline-flex
                align-items center
                justify-content center
                background $laranja
                padding 10px
                width 100%
                max-width 220px
                exo 14 light
                color #fff
                text-transform uppercase
                margin-bottom 1em
                i
                    width 13px
                    height 13px
                    background $img('setinha-light.svg') no-repeat center
                    margin-left 6px
            a
                display block
                text-align center
                + a
                    margin-top $rem(36)
                    padding-top $rem(36)
                    border-top 1px solid #ddd
                p
                    exo 22
                    color $cinza
                    margin 0
                    transition color .3s
                img
                    max-width 100%
                    display block
                    margin $rem(20) auto
                span
                    display inline-flex
                    align-items center
                    exo 12
                    color $cinza
                    text-transform uppercase
                    transition color .3s
                    i
                        width 9px
                        height 9px
                        background $img('setinha-light-diagonal.svg') no-repeat center
                        margin-left 4px
                &:hover
                    p
                    span
                        color $laranja
