.conteudo-tecnico
    @extends $defaultPadding
    display grid
    grid-template-columns 150px 1fr
    grid-gap $rem(100)
    align-items start
    nav
        width 100%
        display grid
        grid-auto-flow row
        grid-gap 3px
        a
            display block
            padding $rem(20)
            background #EAEEEE
            text-align center
            exo 18 bold
            color $cinza
            transition background .3s, color .3s
            span
                display block
                margin-top $rem(16)
                text-transform uppercase
            svg *
                transition fill .3s
                fill $laranja !important
            &:hover
            &.active
                background $laranja
                color #fff
                svg *
                    fill #fff !important
    main
        width 100%
        max-width 1580px
        h1
            exo 48 thin
            color $laranja
            margin 0 0 .9em
            text-transform uppercase
            line-height 1.1
            span
                display block
                font-size $rem(22)
                margin-bottom 0.2em
    +below($tablet)
        display flex
        flex-direction column
        nav
            margin-bottom $rem(30)
            grid-template-columns repeat(auto-fill, minmax(120px, 1fr))
            a
                font-size 14px
        main
            h1
                exo 40 thin
                span
                    font-size $rem(16)
    +mobile()
        main
            h1
                exo 32 light
                span
                    font-size 13px
        nav.mobile-after
            order 2
            margin $rem(30) 0 0

.downloads-lead-lightbox
    padding $rem(40)
    background #EAEEEE
    form
        display flex
        flex-direction column
    p
        exo 18
        color $cinza
        margin 0 0 1em
    input:not([type='checkbox'])
        display block
        width 100%
        background #fff
        outline 0
        border 0
        height 40px
        exo 18
        color $cinza
        padding 0 1em
        min-width 0
        + input
            margin-top 5px
    .checkboxes
        background #fff
        margin-top 5px
        padding 15px 18px
        p
            margin-bottom 12px
        .checkboxes-grid
            display grid
            grid-gap 5px
            grid-template-columns repeat(auto-fill, minmax(220px, 1fr))
    label
        display flex
        align-items baseline
        exo 18
        color $cinza
        cursor pointer
        input
            margin-right 6px
    .opt-in
        margin-top 20px
        label
            exo 15
    button
        height 40px
        margin 20px auto 0
        background $laranja
        text-transform uppercase
        color #fff
        padding 0 1.5em
        exo 18
        border 0
        outline 0
        cursor pointer
        &:hover
            background lighten($laranja, 5)
