.contato
    @extends $defaultPadding
    .cover
        position absolute
        width 100%
        height 500px
        top 0
        left 0
        background $img('img-contato.jpg') no-repeat center
        background-size cover
        background-position top right
        +below(1400px)
            display none
    h2
        exo 36 bold
        color #73888D
        margin 0
        + h2
            margin-top .5em
        span
            display block
            exo 24
            color $azul
            text-transform uppercase
            margin-bottom 5px
        a
            display inline-block
            border 1px solid #73888D
            color #73888D
            font-size $rem(22)
            text-transform uppercase
            padding .4em .6em
            transition background .3s, color .3s
            &:hover
                background #73888D
                color #fff
    .form-enderecos-wrapper
        display flex
        justify-content space-between
        align-items flex-start
        margin-top 55px
        +below(1400px)
            margin-top $rem(40)
        +below(970px)
            display block
        form
            background #EAEEEE
            border-top 1px solid $laranja
            padding $rem(40)
            width 38.5%
            clearfix()
            +below(970px)
                width 100%
                margin-bottom 30px
            +mobile()
                padding 30px
            input
            textarea
                display block
                width 100%
                background #fff
                outline 0
                border 0
                height 40px
                exo 18
                color $cinza
                padding 0 1em
                + *
                    margin-top 5px
            textarea
                height 200px
                padding .5em 1em
                resize none
            button
                display inline-flex
                align-items center
                justify-content center
                float right
                width 100%
                max-width 250px
                background $laranja
                height 50px
                exo 18 bold
                color #fff
                border 0
                outline 0
                cursor pointer
                transition background .3s
                text-transform uppercase
                &:hover
                    background lighten($laranja, 5)
                svg
                    margin-left 10px
                    .fil0
                        fill #fff !important
        .enderecos
            width 52%
            padding-top 100px
            +below(1400px)
                padding-top 0
            +below(970px)
                width 100%
            .endereco
                display grid
                grid-template-columns 1fr 1.5fr
                grid-gap $rem(40)
                + .endereco
                    margin-top 20px
                +mobile()
                    display block
                div:first-child
                    padding-top $rem(20)
                    h3
                        exo 18 bold
                        color $azul
                        margin 0 0 .2em
                        text-transform uppercase
                    p
                        exo 18
                        color $cinza
                        margin 0
                div:last-child
                    width 100%
                    height $rem(250)
                    position relative
                    +mobile()
                        margin-top 10px
                    iframe
                        display block
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
    .trabalhe-conosco
        margin-top $rem(110)
        display grid
        grid-template-columns 1fr 1fr
        background #EAEEEE
        +mobile()
            grid-template-columns 1fr
            margin-top 40px
        form
            padding $rem(100)
            div
                display flex
                margin-top 5px
                +below(890px)
                    display block
                    button
                        width 100%
                        margin-top 5px
                        margin-left 0
            p
                exo 42 thin
                color $azul
                text-transform uppercase
                margin 0 0 $rem(20)
                line-height 1
            +below(1400px)
                padding $rem(50)
                p
                    font-size $rem(32)
            +tablet()
                padding $rem(30)
                p
                    font-size $rem(28)
            +mobile()
                padding 30px
            input
                display block
                width 100%
                background #fff
                outline 0
                border 0
                height 40px
                exo 18
                color $cinza
                padding 0 1em
                min-width 0
                + input
                    margin-top 5px
            .file-input
                width 100%
                display block
                position relative
                outline none
                background #fff
                color $cinza
                height 40px
                cursor pointer
                input[type='file']
                    opacity 0
                    top 0
                    left 0
                    width 100%
                    height 100%
                    position absolute
                    z-index -1
                span
                    exo 18
                    color $cinza
                    padding 0 20px
                    padding-left 50px
                    display block
                    line-height 40px
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    background $img('ico-anexarcurriculo.svg') no-repeat center left 16px
                    background-size 20px auto
            button
                height 40px
                margin-left 5px
                background $azul
                text-transform uppercase
                color #fff
                padding 0 1.5em
                exo 18
                border 0
                outline 0
                cursor pointer
                &:hover
                    background lighten($azul, 5)
        img
            width 100%
            height 100%
            display block
            max-width 100%
            object-fit cover
            +mobile()
                display none
    .representante
        margin-top $rem(100)
        background #EAEEEE
        padding $rem(45) $rem(50)
        +mobile()
            margin-top 40px
            padding 30px
        p
            margin 0 0 6px
            exo 32 thin
            color $cinza
            text-transform uppercase
            line-height 1.1
            span
                exo 12
                display inline-block
                margin-left 1em
                text-transform none
            +below($tablet)
                margin-bottom 12px
                span
                    display block
                    margin 5px 0 0
        form div
            display flex
            flex-wrap wrap
            input
            button
                border 1px solid $cinza
                padding 0 1em
                height 50px
                exo 16
                color $cinza
                background none
                outline 0
                flex 1 1
                min-width 0
                &[name=uf]
                    flex 0 0 54px
                    width 54px
                + *
                    margin-left 4px
            .file-input
                display flex
                align-items center
                max-width 260px
                min-height 50px
                position relative
                outline none
                border 1px solid $cinza
                color $cinza
                cursor pointer
                + *
                    margin-left 4px
                input[type='file']
                    opacity 0
                    top 0
                    left 0
                    width 100%
                    height 100%
                    position absolute
                    z-index -1
                span
                    exo 16
                    color $cinza
                    padding 0 20px
                    padding-left 50px
                    display block
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    background $img('ico-anexarcurriculo.svg') no-repeat center left 16px
                    background-size 20px auto
            +below(900px)
                display block
                input,
                button
                    width 100% !important
                    + *
                        margin 4px 0 0
                .file-input
                    max-width unset
                    + *
                        margin 4px 0 0
            button
                display flex
                align-items center
                justify-content center
                padding 0
                flex 0 0 60px
                cursor pointer
                transition background .3s
                &:hover
                    background #fff
                svg .fil0
                    fill $cinza
    .trabalhe-conosco form,
    .representante form
        .opt-in
            display flex
            align-items baseline
            margin-top 15px
            exo 16
            color $cinza
            cursor pointer
            input
                width auto
                height auto
                flex 0 0 auto
                margin-right 10px
            > div
                display block
                span
                    display block
                    + span
                        margin-top .5em
