.detalhes-tecnicos
    @extends $defaultPadding
    .grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
        grid-gap 40px 20px
        +mobile()
            grid-gap 25px
        .imagem
            width 100%
            height 0
            padding-bottom 100%
            position relative
            img
            .overlay
                position absolute
                width 100%
                height 100%
                display block
            .overlay
                opacity 0
                display flex
                align-items center
                justify-content center
                transition opacity .3s
                background rgba($laranja, .65)
                .pdf
                    width 75px
                    height 75px
                    background $img('ico-PDF.svg') no-repeat center #fff
                    border-radius 50%
        span
            display block
            padding-top 22px
            exo 18
            color $cinza
            text-align center
            background $img('setinha-light-diagonal.svg') no-repeat center top 5px
            text-transform uppercase
        a:hover .overlay
            opacity 1

.detalhes-tecnicos-lightbox
    background #EAEEEE
    padding 40px
    display grid
    grid-template-columns 220px minmax(400px, 1fr)
    grid-gap 40px
    +below(840px)
        grid-template-columns 1fr
        grid-gap 20px
        width auto
        padding 30px
    h2
        margin 0
        exo 28 light
        color $laranja
        margin 0
        text-transform uppercase
    .arquivos
        a
            display block
            width 100%
            background $img('ico-PDF.svg') no-repeat center left 22px #fff
            background-size 19px auto
            padding 10px 50px
            padding-left 72px
            exo 18
            color $cinza
            &:hover
                color $laranja
            + a
                margin-top 4px
