.conteudo-tecnico .downloads
.restrito .downloads
    .grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(360px, 1fr))
        grid-gap 30px
        +below($tablet)
            .categorias
                grid-column 1 / -1
        +mobile()
            grid-template-columns repeat(auto-fill, minmax(260px, 1fr))
        > a
            border 1px solid #D2DADB
            padding $rem(25)
            transition background .3s
            +above($tablet)
                &:nth-child(2)
                    align-self start
            img
                max-width 100%
                display block
                margin 0 auto
            span
                display block
                exo 12 bold
                color $laranja
                font-style italic
                text-transform uppercase
                margin 1em 0
                padding-left 22px
                background $img('ico-download.svg') no-repeat left center
                min-height 16px
            p
                margin 0
                exo 20
                color $cinza
            &:hover
                background #EAEEEE
