.empresa
    @extends $defaultPadding
    .grid
        display grid
        grid-template-columns 1fr 1.5fr
        margin-bottom $rem(40)
        img
            max-width 100%
            height auto
            &:nth-child(3)
                justify-self end
                max-width 80%
        > div
            display flex
            align-items center
            background $cinza
            max-width 590px
            height 100%
            padding $rem(50)
            color #fff
            exo 18
            p
                margin 0
                + p
                    margin-top 1em
        +mobile()
            img:nth-child(3)
                order 2
                justify-self center
                grid-column 1/-1
                max-width 50%
            > div
                max-width unset
                grid-column 1 / -1
                padding 25px
                font-size 15px
    .texto-2
        width 100%
        max-width $rem(880)
        margin 0 auto $rem(115)
        exo 18
        color $cinza
        p
            margin 0
            + p
                margin-top 1em
        +mobile()
            font-size 15px
            margin-bottom 50px
    .texto-3
        display grid
        grid-template-columns minmax(250px, 400px) minmax(350px, 1fr)
        grid-gap $rem(50)
        width 100%
        max-width $rem(1250)
        margin 0 auto $rem(100)
        img
            max-width 100%
        div
            p
                exo 18
                color $cinza
                margin 0
                + p
                    margin-top 1em
        +mobile()
            display block
            margin-bottom 40px
            img
                margin-bottom 20px
            div p
                font-size 15px
    .missao-visao-valores
        display grid
        grid-template-columns repeat(3, minmax(0, 1fr))
        width 100%
        max-width $rem(1200)
        margin 0 auto $rem(40)
        div
            padding $rem(55) $rem(45)
            background $azul
            overflow-wrap break-word
            word-wrap break-word
            &:nth-child(2)
                background #369bd1
            &:nth-child(3)
                background #72afdb
            h2
                exo 32 bold
                text-transform uppercase
                margin 0 0 .35em
                color #fff
            p
                exo 18
                color #fff
                margin 0
        +tablet()
            div
                padding 40px 35px
                h2
                    font-size 28px
        +mobile()
            display block
            div
                padding 30px 25px
                h2
                    font-size 24px
                p
                    font-size 15px
    .box
        display grid
        grid-template-columns minmax(0, 1fr) minmax(0, 2fr)
        width 100%
        max-width $rem(1200)
        margin 0 auto $rem(140)
        div
            display flex
            align-items center
            background #8E9FA2
            padding $rem(55) $rem(40)
            color #fff
            &:last-child
                background #73888D
            h2
                text-align right
                exo 32 bold
                margin 0
            p
                exo 18
                margin 0
        +mobile()
            display block
            margin-bottom 40px
            div
                padding 30px 25px
                h2
                    font-size 24px
                    text-align left
                p
                    font-size 15px
    img.full-width
        max-width 100%
