.conteudo-tecnico .perguntas-frequentes
    .container
        display grid
        grid-template-columns 280px 1fr
        +mobile()
            display block
            .perguntas
                margin-top 35px
    .perguntas
        width 100%
        div
            border-top 1px solid $laranja
            padding-top $rem(38)
            h3
                exo 28
                margin 0 0 .8em
                max-width 675px
            p
                exo 18
                color $cinza
                margin 0
                padding-left 2em
                max-width 675px
            + div
                margin-top $rem(65)
