.home
    .center
        height 100%
        position relative
    .hero
        position relative
        margin 0 -60px
        height calc('100vh - 33px')
        min-height 680px
        background-size cover
        background-color #B9C4C6
        padding $rem(50) $rem(65)
        +below($tablet)
            margin 0 -5.56%
            padding $rem(40) 5%
            height auto
            min-height unset
    .actions
        display grid
        grid-template-columns repeat(3, minmax(250px, 1fr))
        grid-gap 70px
        max-width $rem(1220)
        +below(1680px)
            grid-gap 30px
        +below(900px)
            grid-template-columns 1fr
            grid-gap 15px
        > div
            background $img('setinha-light.svg') no-repeat center top
            padding-top 35px
            display flex
            flex-direction column
            span
                display block
                text-align center
                exo 28
                color #fff
                margin-bottom auto
                +below(1400px)
                    font-size 22px
            input,
            .select
                margin-top 12px
                width 100%
                height 50px
                exo 22 light
                color #fff
                background rgba(#fff, .3)
                border 0
                outline 0
            .select
                position relative
                &.active
                    background rgba(#000, .8)
                    +below($tablet)
                        background rgba(#000, .65)
                    .select-title:after
                        transform rotate(180deg)
                    ul
                        opacity 1
                        visibility visible
                        transform translateY(0)
                .select-title
                    position absolute
                    width 100%
                    height 50px
                    top 0
                    left 0
                    line-height 50px
                    padding 0 16px
                    cursor pointer
                    user-select none
                    &:after
                        content ''
                        position absolute
                        width 16px
                        height 100%
                        top 0
                        right 16px
                        background $img('setinha-combobox.svg') no-repeat center
                        transition .2s
                ul
                    opacity 0
                    visibility hidden
                    transform translateY(10px)
                    position absolute
                    top 50px
                    left 0
                    width 100%
                    background inherit
                    margin 0
                    padding 0
                    list-style none
                    max-height 216px
                    overflow-y auto
                    transition .2s
                    z-index 102
                    a
                        display block
                        width 100%
                        padding 3px 16px
                        exo 16
                        color #fff
                        transition .3s
                        &:hover
                            background $laranja

            input
                background-image $img('lupa-busca.svg')
                background-repeat no-repeat
                background-position right 16px center
                padding 0 16px
                padding-right 45px
                +placeholder()
                    color #fff
    .banners
        position absolute
        right 0
        bottom 0
        width 100%
        max-width 940px
        +below($tablet)
            position relative
            margin-top $rem(150)
        +below(900px)
            margin-top $rem(60)
        .banner
            position absolute
            width 100%
            height 100%
            top 0
            left 0
        a
        div
            img
                max-width 100%
                display block
        > a:hover
            outline 2px solid $laranja
        .cycle-pager
            position absolute
            width 12px
            height 100%
            right -24px
            top 0
            display flex
            flex-direction column
            justify-content center
            +mobile()
                display none
            a
                display block
                width 12px
                height 12px
                border-radius 50%
                border 1px solid #fff
                font-size 0
                text-indent -9999px
                + a
                    margin-top 6px
                &.cycle-pager-active
                    background #fff
    .solucoes
        background #EAEEEE
        padding $rem(75) 0
        +mobile()
            padding 40px 0
        h2
            text-align center
            exo 42 thin
            color $cinza
            margin 0 0 1em
            text-transform uppercase
            +mobile()
                font-size 32px
        .grid
            display grid
            grid-template-columns repeat(auto-fill, minmax(240px, 1fr))
            grid-gap 30px 50px
            +mobile()
                grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
                grid-gap 20px 30px
            a
                display block
                width 100%
                text-align center
                padding 16px 10px
                transition background .3s
                img
                    max-width 100%
                    margin 20px auto
                h3
                    display block
                    width 100%
                    padding-bottom 1em
                    margin 0
                    position relative
                    exo 22
                    color $cinza
                    text-transform uppercase
                    +mobile()
                        font-size 18px
                    &:after
                        content ''
                        position absolute
                        width 70px
                        height 1px
                        left 50%
                        bottom 0
                        transform translateX(-50%)
                        background $cinza
                p
                    margin 0
                    text-align center
                    exo 18
                    color $cinza
                    +mobile()
                        font-size 16px
                h3
                p
                    transition color .3s
                &:hover
                    background #fff
                    h3
                    p
                        color $azul
    .obras-home
        background #B9C4C6
        padding $rem(75) 0
        +mobile()
            padding 40px 0
        h2
            text-align center
            exo 42 thin
            color #fff
            margin 0 0 1em
            text-transform uppercase
            +mobile()
                font-size 32px
        .grid
            display grid
            grid-template-columns repeat(auto-fill, minmax(400px, 1fr))
            max-width 1390px
            margin 0 auto
            +mobile()
                grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
            a
                padding 10px
                transition background .3s
                text-align center
                &:hover
                    background #fff
                img
                    max-width 100%
                    display block
                    margin 0 auto
                p
                    exo 18
                    color $cinza
                    margin .7em 0 0
                    +mobile()
                        font-size 15px
    .conteudo-tecnico-home
        padding $rem(75) 0
        +mobile()
            padding 40px 0
        h2
            text-align center
            exo 42 thin
            color $azul
            margin 0 0 1em
            text-transform uppercase
            +mobile()
                font-size 32px
        .links
            display grid
            grid-template-columns repeat(auto-fit, 170px)
            grid-gap 40px
            justify-content center
            margin-bottom 25px
            a
                padding 25px
                text-align center
                transition background .3s
                span
                    display block
                    exo 18 bold
                    color $cinza
                    text-transform uppercase
                img
                    display block
                    margin 0 auto 20px
                &:hover
                    background #EAEEEE
            +mobile()
                grid-gap 0
                grid-template-columns repeat(auto-fit, 150px)
                a span
                    font-size 16px
        .novidades-home
            display grid
            grid-template-columns repeat(2, 1fr)
            grid-gap 1px
            +below(900px)
                grid-template-columns 1fr
            a
                position relative
                height 0
                padding-bottom 47.1%
                background #ddd
                img
                    width 100%
                    height 100%
                    position absolute
                    display block
                .overlay
                    position absolute
                    z-index 2
                    top 0
                    left 0
                    right 0
                    bottom 0
                    transition background .3s
                    display flex
                    background rgba(#000, .2)
                    &:after
                        content ''
                        position absolute
                        width 30px
                        height 30px
                        background $img('seta-destaques-blog.svg') no-repeat center $cinza
                        bottom 30px
                        right 30px
                        transition background .3s
                    +mobile()
                        &:after
                            display none
                    div
                        margin-top auto
                        padding 30px
                        padding-right 80px
                        +mobile()
                            padding-right 0
                        span
                            display block
                            exo 11 bold
                            color $laranja
                            text-transform uppercase
                            margin-bottom 1em
                            position relative
                            &:before
                                content ''
                                position absolute
                                width 30px
                                height 100%
                                left -30px
                                top 0
                                background $img('setinha-light-horizontal.svg') no-repeat left center
                        p
                            exo 20
                            color #fff
                            margin 0
                            line-height 1.2
                            +mobile()
                                font-size 16px
                &:hover .overlay
                    background rgba($azul, .35)
                    &:after
                        background-color $azul
    .newsletter
        background #DCE2E3
        padding $rem(75) 0
        +mobile()
            padding 40px 0
        .center
            display flex
            align-items center
            +below(960px)
                display block
            div
                color $cinza
                margin-right 25px
                +below(960px)
                    margin 0 0 15px
                h3
                    exo 32 thin
                    margin 0
                    text-transform uppercase
                    +mobile()
                        font-size 24px
                p
                    exo 12
                    margin 5px 0 0
            form
                display flex
                flex 1 1
                input
                select
                    flex 1
                    padding 0 18px
                    height 50px
                    border 1px solid $cinza
                    outline 0
                    exo 16
                    color $cinza
                    background transparent
                    min-width 0
                    +placeholder()
                        color $cinza
                    +mobile()
                        padding 0 14px
                        font-size 14px
                select
                    margin 0 5px
                button
                    flex 0 0 60px
                    border 1px solid $cinza
                    outline 0
                    background $img('ico-carta-enviar.svg') no-repeat center
                    cursor pointer
                    transition background .3s
                    &:hover
                        background-color #fff
                +below(540px)
                    flex-wrap wrap
                    input
                        min-width 100%
                        flex-shrink 0
                        margin-bottom 5px
                    select
                        margin 0
                        margin-right 5px
