.conteudo-tecnico .novidades
    max-width 1200px
    .destaques
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-gap 1px
        margin-bottom $rem(55)
        +between($tablet, 1400px)
            grid-template-columns 1fr
        +below(900px)
            grid-template-columns 1fr
            margin-bottom 30px
        a
            position relative
            height 0
            padding-bottom 47.1%
            background #ddd
            img
                width 100%
                height 100%
                position absolute
                display block
            .overlay
                position absolute
                z-index 2
                top 0
                left 0
                right 0
                bottom 0
                transition background .3s
                display flex
                background rgba(#000, .2)
                &:after
                    content ''
                    position absolute
                    width 30px
                    height 30px
                    background $img('seta-destaques-blog.svg') no-repeat center $laranja
                    bottom 30px
                    right 30px
                    transition background .3s
                +mobile()
                    &:after
                        display none
                div
                    margin-top auto
                    padding 30px
                    padding-right 80px
                    +mobile()
                        padding-right 0
                    span
                        display block
                        exo 11 bold
                        color $laranja
                        text-transform uppercase
                        margin-bottom 1em
                        position relative
                        &:before
                            content ''
                            position absolute
                            width 30px
                            height 100%
                            left -30px
                            top 0
                            background $img('setinha-light-horizontal.svg') no-repeat left center
                    p
                        exo 20
                        color #fff
                        margin 0
                        line-height 1.2
                        +mobile()
                            font-size 16px
            &:hover .overlay
                background rgba($laranja, .35)
    .container
        display grid
        grid-template-columns 300px 1fr
        +mobile()
            display block
            .categorias
                margin-bottom 35px
        .thumbs
            a
                display block
                transition background .3s
                .info
                    position relative
                    span
                        display block
                        exo 11 bold
                        color $laranja
                        text-transform uppercase
                        margin-bottom 1em
                        padding-left 30px
                        position relative
                        &:before
                            content ''
                            position absolute
                            width 30px
                            height 100%
                            left 0
                            top 0
                            background $img('setinha-light-horizontal.svg') no-repeat left center
                    p
                        exo 20
                        color $cinza
                        margin 0
                        line-height 1.2
                        +mobile()
                            font-size 16px
                &.thumb-image
                    display grid
                    grid-template-columns $rem(350) 1fr
                    background #EAEEEE
                    +between($tablet, 1600px)
                        grid-template-columns 1fr
                    +below(1020px)
                        grid-template-columns 1fr
                    img
                        width 100%
                        height auto
                        object-fit cover
                    .info
                        padding $rem(24)
                        padding-right $rem(55)
                        &:after
                            content ''
                            position absolute
                            width 30px
                            height 30px
                            background $img('seta-destaques-blog.svg') no-repeat center $laranja
                            bottom 0
                            right 0
                            transition background .3s
                    + a
                        margin-top $rem(20)
                    + .thumb-simple
                        margin-top $rem(60)
                    &:hover
                        background $laranja
                        .info
                            p
                                color #fff
                            span
                                color #fff
                                &:before
                                    background-image $img('setinha-light-horizontal-white.svg')
                &.thumb-simple
                    padding $rem(30) 0 $rem(50)
                    border-top 1px solid #B9C4C6
                    &:hover
                        background #EAEEEE
                    img
                        display none
    .novidade
        .capa
            width 100%
            position relative
            &:before
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#000, .2)
            div
                position absolute
                left 0
                bottom 0
                width 100%
                padding 30px 30px 45px
                +mobile()
                    padding 20px
                span
                    display block
                    exo 16 bold
                    color $laranja
                    text-transform uppercase
                    margin-bottom 1em
                    position relative
                    &:before
                        content ''
                        position absolute
                        width 30px
                        height 100%
                        left -30px
                        top 0
                        background $img('setinha-light-horizontal.svg') no-repeat left center
                h2
                    exo 32
                    color #fff
                    margin 0
                    line-height 1.2
                    +mobile()
                        font-size 18px
            img
                width 100%
                display block
        .texto
            margin-top $rem(30)
            p
                exo 18
                color $cinza
                margin 0
                + p
                    margin-top 1em
                a
                    color $laranja
                    &:hover
                        text-decoration underline
    .relacionados
        margin-top $rem(80)
        border-top 1px solid #B9C4C6
        padding-top $rem(20)
        h4
            exo 22
            color $laranja
            margin 0 0 1.5em
            text-transform uppercase
        .thumbs
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 10px
            +between($tablet, 1400px)
                grid-template-columns 1fr
            +below(980px)
                grid-template-columns 1fr
            a
                display block
                padding 10px
                transition background .3s
                max-width 380px
                .imagem
                    position relative
                    &:after
                        content ''
                        position absolute
                        width 30px
                        height 30px
                        background $img('seta-destaques-blog.svg') no-repeat center $laranja
                        bottom 0
                        right 0
                        transition background .3s
                        z-index 2
                    &:before
                        content ''
                        position absolute
                        width 100%
                        height 100%
                        background transparent
                        transition background .3s
                    img
                        max-width 100%
                        display block
                span
                    display block
                    exo 11 bold
                    color $laranja
                    text-transform uppercase
                    margin 1em 0
                    padding-left 30px
                    position relative
                    &:before
                        content ''
                        position absolute
                        width 30px
                        height 100%
                        left 0
                        top 0
                        background $img('setinha-light-horizontal.svg') no-repeat left center
                p
                    exo 20
                    color $cinza
                    margin 0
                    line-height 1.2
                    +mobile()
                        font-size 16px
                &:hover
                    background #EAEEEE
                    .imagem:before
                        background rgba($laranja, .35)
