.obras
    @extends $defaultPadding
    .grid-index
        display grid
        grid-template-columns repeat(auto-fill, minmax(370px, 1fr))
        +below(1565px)
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        a
            padding 10px
            transition background .3s
            img
                display block
                width 100%
                margin 0 auto 10px
            span
                display block
                text-align center
                exo 18
                color $cinza
                transition color .3s
            &:hover
                background #EAEEEE
                span
                    color $laranja
    .obras-show
        display grid
        grid-template-columns 1fr 465px
        grid-gap $rem(40)
        +below(1440px)
            grid-template-columns 1fr 350px
        +mobile()
            grid-template-columns 1fr
        .imagens
            img
                max-width 100%
                display block
                + img
                    margin-top 10px
        .descricao
            &:first-child
                grid-column 1 / -1
            h2
                exo 28
                color $cinza
                margin 1em 0
            p
                exo 18
                color $cinza
                margin 0
            +mobile()
                order -1
                h2
                    margin-top 0
                    font-size 24px
            .obra-produtos
                margin-top $rem(28)
                a
                    display block
                    exo 14 bold
                    color $laranja
                    padding-left 30px
                    background $img('setinha-light-horizontal.svg') no-repeat center left
                    &:hover
                        color #000
                    + a
                        margin-top 5px
    h3
        exo 36 light
        color $cinza
        margin 1.5em 0 1em
        padding-top 1em
        border-top 1px solid $laranja
        text-transform uppercase
        +mobile()
            font-size 24px
    .grid-show
        display grid
        grid-template-columns repeat(auto-fill, minmax(280px, 1fr))
        grid-gap 10px
        a
            display block
            width 100%
            position relative
            img
                width 100%
                display block
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                display flex
                align-items center
                justify-content center
                padding 20px
                exo 14 bold
                color #fff
                background rgba($laranja, .65)
                opacity 0
                transition opacity .3s
            &:hover .overlay
                opacity 1
    .mais
        display inline-block
        margin-top $rem(40)
        exo 14
        color $cinza
        text-transform uppercase
        &:hover
            color $laranja
