.onde-encontrar
    @extends $defaultPadding
    h2
        exo 36 bold
        color $cinza
        text-transform uppercase
        margin 3em 0 1em
    h1 + h2
        margin-top 1.5em
    .revendedores
        display flex
        justify-content space-between
        align-items flex-start
        .left
            width 40%
            .radios
                margin-bottom $rem(35)
                label
                    display flex
                    align-items center
                    cursor pointer
                    + label
                        margin-top 8px
                    input
                        margin-right 8px
                    span
                        exo 18
                        color $cinza
            .regiao
                margin-bottom $rem(55)
                p
                    exo 18
                    color $cinza
                    margin 0 0 10px
                select
                    width 100%
                    max-width $rem(400)
                    border 1px solid #73888D
                    outline 0
                    exo 18
                    color $cinza
                    background none
                    height 50px
                    padding 0 10px
                    cursor pointer
                    + select
                        margin-top 4px
                    &:disabled
                        background #73888D30
                        cursor not-allowed
            .cep
                p
                    exo 18
                    color $cinza
                    margin 0 0 10px
                .erro
                    exo 14
                    text-transform uppercase
                    text-align center
                    padding 1em
                    border 1px solid #A52A2A
                    color #A52A2A
                    margin-bottom 10px
                    max-width $rem(400)
                form
                    display flex
                    width 100%
                    max-width $rem(400)
                    input
                        border 1px solid #73888D
                        outline 0
                        exo 18
                        color $cinza
                        background none
                        height 50px
                        padding 0 10px
                        min-width 0
                        flex 1
                    button
                        width 50px
                        border 1px solid #73888D
                        flex-shrink 0
                        background transparent $img('lupa-busca-cinza.svg') no-repeat center
                        margin-left 4px
                        transition .3s
                        cursor pointer
                        outline 0
                        &:hover
                            border-color #000
        .right
            width 50%
            .revendedores-results
                .nenhum
                    exo 14
                    text-transform uppercase
                    text-align center
                    padding 1em
                    border 1px solid $laranja
                    color $cinza
                    max-width $rem(400)
                .revendedor
                    display grid
                    grid-template-columns 1fr 75px
                    grid-gap 20px
                    border-bottom 1px solid $cinza
                    padding-bottom 25px
                    + .revendedor
                        margin-top 25px
                    .info
                        h4
                            exo 18 bold
                            color $cinza
                            margin 0 0 .65em
                        p
                            exo 17
                            color $cinza
                            margin 0
                            a:hover
                                color $laranja
                    .buttons
                        width 75px
                        display grid
                        grid-template-columns 1fr 1fr
                        align-self start
                        grid-gap 5px
                        button
                            grid-column 1 / -1
                            height 75px
                            background $img('ico-ondeencontrar-localizacao.svg') no-repeat center #B9C4C6
                            cursor pointer
                            border 0
                            outline 0
                            transition .3s
                        a
                            width 100%
                            height 35px
                            text-indent -9999px
                            font-size 0
                            transition .3s
                            &.email
                                background $img('ico-ondeencontrar-email.svg') no-repeat center #B9C4C6
                            &.site
                                background $img('ico-ondeencontrar-website.svg') no-repeat center #B9C4C6
                        *:hover
                            background-color lighten(#B9C4C6, 5) !important
        +below(960px)
            display block
            .left
            .right
                width 100%
            .right
                margin-top $rem(40)
