main .politica-termos
    @extends $defaultPadding
    p
        exo 18
        color $cinza
        max-width 890px
        + p
            margin-top 1em
    +below($tablet)
        p
            font-size $rem(16)
