.produtos-breadcrumb
    display flex
    align-items center
    margin-bottom $rem(30)
    span
        exo 16 light
        color $cinza
        text-transform uppercase
    select
        position relative
        width 100%
        min-width 0
        max-width $rem(380)
        height 38px
        border 1px solid $cinzaBg
        padding 0 16px
        exo 16 light
        color $cinza
        outline 0
        background none
        cursor pointer
        text-transform uppercase
    .arrow
        width 25px
        height 25px
        position relative
        flex-shrink 0
        &:after
            content ''
            position absolute
            top 50%
            left 40%
            width 8px
            height 8px
            border-right 2px solid $cinza
            border-top 2px solid $cinza
            transform-origin left top
            transform rotate(45deg) translate(-50%, -50%)
    +mobile()
        flex-direction column
        align-items stretch
        span
            text-align center
        select
            max-width unset
        .arrow
            width 100%
            &:after
                left 50%
                top 40%
                transform rotate(135deg) translate(-50%, -50%)

.produtos
    @extends $defaultPadding
    .nenhum
        display inline-block
        border 1px solid $laranja
        padding $rem(20)
        exo 14
        color $laranja
        text-transform uppercase
    .grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
        grid-gap $rem(40)
        a
            img
                width 100%
                display block
            span
                display block
                padding-top 25px
                exo 18
                color $cinza
                text-align center
                background $img('setinha-light-diagonal.svg') no-repeat center top 10px
                transition color .3s
            &:hover span
                color $azul

.produtos-show
    display flex
    flex-wrap wrap
    justify-content space-between
    .left
        width 42%
        +mobile()
            width 100%
        h2
            exo 22
            color #bfc0c2
            margin 0 0 .6em
            font-style italic
        p
            exo 18
            color $cinza
            margin 0 0 1em
        img
            display block
            max-width 100%
    .right
        width 50%
        +mobile()
            width 100%
            margin-top $rem(40)
        > div:not(:last-child)
            margin-bottom $rem(35)
        .produto-info
            h3
                display flex
                align-items center
                exo 14 bold
                color #73888D
                margin 0 0 .8em
                text-transform uppercase
                img
                    margin-right .5em
            p
                exo 18
                color $cinza
                margin 0
            .produto-pdf
                display block
                padding-left 28px
                exo 18
                color $cinza
                text-transform uppercase
                background $img('ico-PDF.svg') no-repeat left center
                background-size auto 20px
                &:hover
                    color $laranja
                + .produto-pdf
                    margin-top .5em
        .produto-usos
            background #F4F6F6
            border-left 1px solid $azul
            padding $rem(30)
            h3
                exo 28 light
                color $cinza
                margin 0 0 .5em
                text-transform uppercase
            p
                exo 18
                color $cinza
                margin 0
            > div
                exo 18
                color $cinza
                ul
                    margin 0
                    padding 0
                    list-style none
                    li
                        position relative
                        padding-left 1em
                        &:before
                            content '\00b7'
                            position absolute
                            left 0
                        + li
                            margin-top .25em !important
                * + *
                    margin-top .5em !important
        .produto-videos
            display grid
            grid-template-columns repeat(auto-fill, minmax(140px, 1fr))
            grid-gap 10px
            a
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    opacity 0
                    background rgba($laranja, .35)
                    transition opacity .3s
                img
                    width 100%
                    display block
                    border 1px solid #73888D
                &:hover:after
                    opacity 1
        .produto-calculadora
            .calculadora-button
                display flex
                align-items center
                &:hover .button span
                    color #000
                .button
                    display flex
                    align-items center
                    border 1px solid $azul
                    padding 12px 24px
                    img
                        width $rem(80)
                        flex-shrink 0
                        margin-right 12px
                    span
                        exo 16
                        color $azul
                        text-transform uppercase
                        transition color .3s
                        max-width 105px
                p
                    margin 0
                    exo 16
                    color $azul
                    margin-left 1em
            .calculadora-form
                display flex
                align-items center
                border 1px solid $azul
                padding 12px 24px
                justify-content space-between
                div:first-child
                    display flex
                    align-items center
                    img
                        width $rem(80)
                        flex-shrink 0
                        margin-right 12px
                    span
                        exo 16
                        color $azul
                        text-transform uppercase
                        max-width 105px
                div:nth-child(2)
                    margin 0 15px
                    text-align center
                    span
                        display block
                        exo 13
                        color $cinza
                        margin-bottom 5px
                    input
                        height 30px
                        width 100%
                        flex-shrink 0
                        border 0
                        background #EAEEEE
                        text-align center
                        exo 15
                        color $cinza
                        outline 0
                        padding 0 10px
                button
                    align-self stretch
                    background $azul
                    exo 18 bold
                    padding 0 1.5em
                    color #fff
                    outline 0
                    border 0
                    transition background .3s
                    cursor pointer
                    &:hover
                        background lighten($azul, 5)
            .calculadora-resultado-wrapper
                display flex
                align-items center
                border 1px solid $azul
                padding 12px 24px
                justify-content space-between
                img
                    width $rem(80)
                    flex-shrink 0
                    margin-right 12px
                    + span
                        display none
                        exo 16
                        color $azul
                        text-transform uppercase
                .calculadora-resultado
                    exo 18
                    color $laranja
                    text-transform uppercase
                button
                    cursor pointer
                    align-self stretch
                    background $azul
                    exo 18 bold
                    padding 0 1.5em
                    color #fff
                    outline 0
                    border 0
                    transition background .3s
                    flex-shrink 0
                    margin-left 24px
                    &:hover
                        background lighten($laranja, 5)
            +below(1580px)
                .calculadora-button
                    flex-direction column
                    align-items flex-start
                    .button
                        width 100%
                        span
                            max-width unset
                    p
                        margin 12px 0 0
                .calculadora-form
                    flex-direction column
                    align-items flex-start
                    div:first-child
                        span
                            max-width unset
                    div:nth-child(2)
                        width 100%
                        margin 12px 0 5px
                        text-align left
                    button
                        height 45px
                .calculadora-resultado-wrapper
                    flex-direction column
                    align-items flex-start
                    justify-content flex-start
                    div:first-child
                        display flex
                        align-items center
                        img
                            margin-right 12px
                            + span
                                display initial
                    div
                        width 100%
                    .calculadora-resultado
                        margin 12px 0
                    button
                        margin 0
                        height 45px
        .produto-embalagens
            background #EAEEEE
            padding 10px
            display grid
            grid-template-columns 1fr 1fr
            grid-gap 10px
            +below(1560px)
                grid-template-columns 1fr
            .radios
                padding 10px
                label
                    display flex
                    align-items center
                    exo 16
                    color $azul
                    cursor pointer
                    input
                        margin-right 5px
                    span
                        exo 12
                        margin-right 4px
                        text-transform uppercase
                    + label
                        margin-top 5px
                .warning
                    exo 14 bold
                    color #e74c3c
                    margin-bottom .65em
                    line-height 1.35
            .buttons
                button
                a
                    width 100%
                    height 60px
                    display flex
                    align-items center
                    justify-content center
                    exo 20 light
                    background $laranja
                    text-transform uppercase
                    border 0
                    outline 0
                    color #fff
                    cursor pointer
                    transition background .3s, opacity .3s
                    &:hover:not(:disabled)
                        background lighten($laranja, 5)
                    &:disabled
                        cursor default
                        opacity .75
                    + *
                        margin-top 5px
                    img
                        height 30px
                        width auto
                        margin-right 10px
    .produto-obras
        width 100%
        margin-top $rem(65)
        padding-top $rem(50)
        border-top 1px solid $laranja
        +mobile()
            margin-top 40px
            padding-top 30px
        h3
            exo 36 light
            color $cinza
            margin 0 0 .8em
            text-transform uppercase
            +mobile()
                font-size 24px
        .grid
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
            grid-gap 14px
            +mobile()
                grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
            a
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    opacity 0
                    background rgba($laranja, .35)
                    transition opacity .3s
                img
                    width 100%
                    display block
                &:hover:after
                    opacity 1
        > a
            display inline-block
            margin-top $rem(40)
            exo 14
            color $cinza
            text-transform uppercase
            &:hover
                color $laranja
    .produto-relacionados
        width 100%
        background #F4F6F6
        padding $rem(40)
        margin-top $rem(65)
        h3
            exo 28 light
            color $cinza
            text-transform uppercase
            margin 0 0 1em
        .grid
            grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
        +mobile()
            background transparent
            border-top 1px solid $cinzaBg
            margin-top 40px
            padding 30px 0 0
            h3
                font-size 20px

.calculadora-pagina
    @extends $defaultPadding
    h1
        display flex
        align-items center
        img
            max-width $rem(80)
            margin-right $rem(40)
        +mobile()
            flex-direction column
            align-items flex-start
            img
                margin 20px 0 0
                order 1
    .chamada
        exo 18
        color $laranja
        margin 1.5em 0 1em
    .calculadora-form
        display flex
        align-items center
        span
            exo 14
            color $cinza
        input
            height 50px
            width 120px
            flex-shrink 0
            margin 0 10px
            border 0
            background #EAEEEE
            text-align center
            exo 16
            color $cinza
            outline 0
            padding 0 10px
        button
            height 50px
            padding 10px 28px
            background $laranja
            exo 18 bold
            color #fff
            border 0
            outline 0
            cursor pointer
            &:hover
                background lighten($laranja, 5)
        +mobile()
            flex-direction column
            align-items stretch
            input
                width auto
                margin 10px 0
    .calculadora-resultado
        display inline-block
        margin-top $rem(50)
        border 1px solid $laranja
        padding $rem(40)
        exo 18
        color $laranja
        text-transform uppercase
        line-height 1.5
        span
            text-transform none
        +mobile()
            margin-top 20px
            padding 20px
