.conteudo-tecnico .videos
    .thumbs
        display grid
        grid-template-columns repeat(auto-fill, minmax(370px, 1fr))
        grid-gap 60px
        +below($tablet)
            grid-template-columns repeat(auto-fill, minmax(260px, 1fr))
            grid-gap 30px
        a
            display block
            .imagem
                position relative
                &:before
                    content ''
                    position absolute
                    width 32px
                    height 32px
                    top 50%
                    left 50%
                    transform translate(-50%, -50%)
                    background $img('ico-play.svg') no-repeat center
                    z-index 2
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($laranja, .8)
                    opacity 0
                    transition opacity .3s
                img
                    width 100%
                    display block
            span
                display block
                exo 18
                color $cinza
                margin-top .8em
                transition color .3s
            &:hover
                span
                    color $laranja
                .imagem:after
                    opacity 1
